<%- include header %>
<script>
	seajs.use("js_cmd/home-cmd");
</script>
<link href="/css/home.css?v=<%= config.version %>" rel="stylesheet" />
<div data-role="container" class="body <%= pageName %>">
	<h1>Welcome~</h1>
</div>
<%- include footer %>