<%- include ../header %>
<script>
	seajs.use("js_cmd/user/center-cmd");
</script>
<link href="/css/user/center.css?v=<%= config.version %>" rel="stylesheet" />
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">SP</a>
	</div>
	<div>
		<ul class="nav navbar-nav navbar-right mr ml">
			<li>
				<p class="navbar-text">欢迎您，<%= params.user.username %></p>
			</li>
			<li>
				<a href="/user/logout">退出</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row">
		<ul class="nav nav-pills nav-stacked col-xs-12 col-sm-6">
   			<li class="active"><a href="#">用户中心</a></li>
   			<li><a href="/stock/showGraphCV">股票查询</a></li>
   			<li><a href="/block/editBlock">编辑板块</a></li>
		</ul>
	</div>
</div>

<%- include ../footer %>