<%- include ../header %>
<script>
	seajs.use("js_cmd/user/center-cmd");
</script>
<link href="/css/user/center.css?v=<%= config.version %>" rel="stylesheet" />
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">STOCK PLAYER</a>
	</div>
	<div>
		<ul class="nav navbar-nav navbar-right mr ml">
			<li>
				<p class="navbar-text">欢迎您，<%= params.user.username %></p>
			</li>
			<li>
				<a href="/user/logout">退出</a>
			</li>
		</ul>
	</div>
</nav>

<%- include ../footer %>