<%- include ../header %>
<script>
	seajs.use("js_cmd/user/login-cmd");
</script>
<link href="/css/user/login.css?v=<%= config.version %>" rel="stylesheet" />

	<h1>登录</h1>
	<h3>表单</h3>
    <form action="/user/login" method="POST">
    <div class="form-group">
      <span class="glyphicon glyphicon-user"></span>
      <input type="text" id="inputUsername" name="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <span class="glyphicon glyphicon-lock"></span>
      <input type="password" id="inputPassword1" name="password" placeholder="Password">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="remember"> 保存账号一周
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

<%- include ../footer %>