<%- include ../header %>
<script>
	seajs.use("js_cmd/error-cmd");
</script>
<link href="/css/error.css?v=<%= config.version %>" rel="stylesheet" />
<div data-role="container" class="body <%= pageName %>">
	<h1>404</h1>
	<p>找不到页面==!</p>
</div>
<%- include ../footer %>