<%- include ../header %>
<script>
  APP.data = <%- JSON.stringify(params.data) %>;
	seajs.use("js_cmd/stock/showGraphCV-cmd");
</script>
<link href="/css/stock/showGraphCV.css?v=<%= config.version %>" rel="stylesheet" />
<div class="container">

  <div id="container"></div>

</div>


<%- include ../footer %>