<%- include ../header %>
<script src="/lib/prototype.js"></script>
<script>
  APP.data = <%- JSON.stringify(params.data) %>;
	seajs.use("js_cmd/stock/showGraphCV-cmd");
</script>
<link href="/css/stock/showGraphCV.css?v=<%= config.version %>" rel="stylesheet" />
<div class="container">

  <div id="finance">
    <div id="labels">
      <div id="financeTitle">NASDAQ:GOOG</div>
      <div id="time">
        <a id="zoom1">1w</a>
        <a id="zoom2">1m</a>
      </div>
      <div id="dateRange"></div>
    </div>
  </div>

</div>


<%- include ../footer %>